<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <h1>Edit Tour Chat : <%= chat._id %></h1>
    <p>Message was sent from <%= chat.from %> to <%= chat.to %></p>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">

        <label for="message">Message:</label>
        <textarea id="message" name="newMsg" required><%= chat.message %></textarea>

        <button type="submit">Update Chat</button>
</body>
</html>